$faint-red = 231,54,54,0.6
$faint-dark-red = #B02929
$soft-black-border = #3C2E2E
$info-boxes = #595656
$links = #81A4C8
$muzzley = #db001b
$student = #009de0
$scouts = #8CB809
$sinfo = #0f75da
$music = #D8C793
