body {
  background-color: #999090;
}
a {
  color: #81a4c8;
}
@media screen and (min-width: 1260px) {
  #presentation {
    padding-top: 10px;
  }
  #footer {
    padding-bottom: 10px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Courier;
}
iframe {
  width: 350px;
  height: auto;
}
@media screen and (max-width: 450px) {
  iframe {
    width: 200px;
  }
}
body {
  font-family: Courier;
}
.logo {
  width: 60px;
  height: 60px;
}
.main-photo {
  border-radius: 50%;
}
.standard-photo {
  border-radius: 10px;
  -webkit-box-shadow: #ddd 2.5px 2.5px 5px;
  -moz-box-shadow: #ddd 2.5px 2.5px 5px;
  box-shadow: #ddd 2.5px 2.5px 5px;
}
.main-photo.music {
  width: 300px;
  height: 300px;
}
.social-icon.big {
  font-size: 50px;
  margin: 0.1em;
}
.social-icon {
  text-decoration: none;
  opacity: 0.9;
  color: #404040;
}
.contacts {
  font-size: 20px;
  color: #81a4c8;
}
.info-box {
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
}
.info-box >span {
  color: #fff;
  border-radius: 3px;
  padding: 4px;
  background: #595656;
}
.dev >span {
  background: #595656;
}
.student >span {
  background: #009de0;
}
.muzzley >span {
  background: #db001b;
}
.scouts >span {
  background: #8cb809;
}
.sinfo >span {
  background: #0f75da;
}
.music >span {
  background: #d8c793;
}
.section {
  padding-top: 20px;
  background-color: #fff;
  border-bottom: 2px dashed #e5e5e5;
}
#muzzley-logo {
  max-width: 300px;
}
#yld-logo {
  height: 180px;
  width: auto;
}
#presentation,
#student,
#sinfo {
  background-color: #f4f4f4;
}
a.main-info {
  margin: 20px;
}
a.main-info:hover >span {
  text-decoration: underline;
  color: #fff;
}
.cursor {
  display: inline-block;
  padding-right: 0.1em;
  border-right: 0.6em solid #595656;
  min-width: 1em;
  min-height: 1em;
  -webkit-animation: blink 1s step-end 0s infinite;
  -moz-animation: blink 1s step-end 0s infinite;
  -ms-animation: blink 1s step-end 0s infinite;
  -o-animation: blink 1s step-end 0s infinite;
}
@-moz-keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #595656;
  }
}
@-webkit-keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #595656;
  }
}
@-o-keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #595656;
  }
}
@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #595656;
  }
}
