meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1.0')
meta(name='apple-mobile-web-app-capable', content='yes')
link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet')
link(href='//fonts.googleapis.com/css?family=Roboto:100,300,700' rel='stylesheet' type='text/css')

meta(name='description' content='João Antunes - Computer Science graduate, music lover, javascripter, probably a good guy.')
meta(name='author' content='João Antunes')
meta(name='HandheldFriendly' content='True')
meta(name='MobileOptimized' content='320')
meta(name='apple-mobile-web-app-capable', content='yes')

//vendor
link(rel='stylesheet' type='text/css' href='https://ink.global.ssl.fastly.net/3.1.10/css/ink.css')
script(type='text/javascript' src='https://ink.global.ssl.fastly.net/3.1.10/js/ink-all.js')
script(type='text/javascript' src='https://ink.global.ssl.fastly.net/3.1.10/js/autoload.js')

link(href=cssFileName rel='stylesheet')
