html
  include ../partials/head

  section.page.home
    include ../sections/presentation
    include ../sections/music
    include ../sections/student
    include ../sections/developer
    include ../sections/sinfo
    include ../sections/scouts
    
  include ../partials/footer
