section.page.home
  .ink-grid.section#presentation
    .all-100.half-bottom-space
      h1.align-center João Antunes
    .all-100
      .column-group.ink-grid.half-bottom-space
        .all-40.medium-30.small-100.tiny-100.align-center
          img(src="/static/imgs/me.jpg").main-photo
        .all-60.medium-30.small-100.tiny-100
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima facilis autem eos molestias possimus architecto est sapiente nam illum dolore ducimus laboriosam, vero error et odio blanditiis consequatur quis maxime!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima facilis autem eos molestias possimus architecto est sapiente nam illum dolore ducimus laboriosam, vero error et odio blanditiis consequatur quis maxime!
          a.social-icon(target='_blank' href='//github.com/jgantunes')
            i.social-icon.fa.fa-github
          a.social-icon(target='_blank' href='//twitter.com/jgantunes')
            i.social-icon.fa.fa-twitter
          a.social-icon(target='_blank' href='//linkedin.com/in/jgantunes')
            i.social-icon.fa.fa-linkedin
          a.social-icon(target='_blank' href='//soundcloud.com/antunes-musica')
            i.social-icon.fa.fa-soundcloud
    .all-100
      h2.cursor _>$ More about me? 
    .all-100.bottom-space
      .column-group.align-center
        .all-20.small-50.tiny-50
          .circle-container.push-center.bottom-space
            a.circle.align-center.ink-flex
              i.fa.fa-music.push-middle.push-center
          .circle-info.music.no-opacity
            span Musician
        .all-20.small-50.tiny-50
          .circle-container.push-center.bottom-space
            a.circle.align-center.ink-flex
              i.fa.fa-code.push-middle.push-center
          .circle-info.dev.no-opacity
            span Developer & Hacker
        .all-20.small-50.tiny-50
          .circle-container.push-center.bottom-space
            a.circle.align-center.ink-flex
              i.fa.fa-graduation-cap.push-middle.push-center
          .circle-info.student.no-opacity
            span CS Student @ IST
        .all-20.small-50.tiny-50
          .circle-container.push-center.bottom-space
            a.circle.align-center.ink-flex
              img(src="/static/imgs/sinfo-logo-white.png").logo.push-middle.push-center
          .circle-info.sinfo.no-opacity
            span Dev Team @ SINFO
        .all-20.small-50.tiny-50
          .circle-container.push-center.bottom-space
            a.circle.align-center.ink-flex
              img(src="/static/imgs/scouts-logo-white.png").logo.push-middle.push-center
          .circle-info.scouts.no-opacity
            span Scout for 11 years
  .ink-grid.section#music
    .all-100.top-space
      h2.cursor _>$ Some topic
      div  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis vero ipsum nisi eius odio, natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim, amet quae quasi repudiandae. Dolore!
