.ink-grid.section#dev
  .all-100.top-space
    h2.cursor _>$ Developer
  .all-100
    .column-group.ink-grid.half-bottom-space.medium-half-gutters
      .all-100
        p
          | I'm always developing stuff in my free time and since I've discovered GitHub my account hasn't had much rest yet.
        p
          | I love Open-Source and Javascript and some of the projects I've worked include:
        ul
          li An image processing tool that extracted RGB values and detected motion in videos (using OpenCV and Java).
          li A series of small Arduino projects around sound processing.
          li <a href='http://ampersandjs.com/contribute'>Contributor</a> to the <a href='//ampersandjs.com'>AmpersandJS</a> core modules.
          li A series of modules for <a href='//ampersandjs.com'>AmpersandJS</a> which include:
            ul
              li <a href='//github.com/sinfo/ampersand-io'>ampersand-io</a> (a <a href='//socket.io'>socket.io</a> wrapper).
              li <a href='//github.com/sinfo/ampersand-io-model'>ampersand-io-model</a> (an object state model using <a href='//socket.io'>socket.io</a>).
              li <a href='//github.com/sinfo/ampersand-io-collection'>ampersand-io-collection</a> (a collection of state models using <a href='//socket.io'>socket.io</a>).
              li <a href='//github.com/sinfo/ampersand-infinite-scroll'>ampersand-infinite-scroll</a> (a view that allows for infinite scroll effect with a paginated collection).
          li 
            | <a href='//github.com/sinfo/eventdeck'>EventDeck</a> - a tool for managing events/conferences (from speakers, to sponsors, communications, etc.) built at <a href='//sinfo.org'>SINFO</a> using <a href='//nodejs.org'>NodeJS</a>, <a href='//hapijs.com'>HapiJS</a>,
            | <a href='//mongodb.org'>MongoDB</a> and <a href='//ampersandjs.com'>AmpersandJS</a>. I've collaborated in all of the stack including support for real time notifications using <a href='//socket.io'>socket.io</a>.
            br
            | This tool was used for the <a href='//app.sinfo.org'>SINFO 22nd edition</a> in 2015 supporting +300 speaker profiles, +600 companies/sponsors profiles, +1700 communications and +2500 comments.
          li 
            | <a href='//github.com/sinfo/cannon-api'>Cannon Api</a> - a RESTful API to be used during the <a href='//app.sinfo.org'>SINFO  22</a> event, to manage attendees, user accounts, tickets, surveys, file uploads and an achievement system based on qr codes.
            br
            | This tool was used for the <a href='//app.sinfo.org'>SINFO  22</a> in 2015 and supporting +900 user accounts.
          li
            | <a href='//app.sinfo.org'>SINFO  Webapp</a> - a web application that fully supported the use of the EventDeck public API and Cannon API so that it could present to the attendees at <a href='//sinfo.org'>SINFO</a>  realtime information
            | on everything at the event.
            br
            | This tool was used for the <a href='//app.sinfo.org'>SINFO  22</a> in 2015.
        p
          | My contributions also include other pull requests to a series of other projects so, for more info, <b><a href='//github.com/JGAntunes'>check out my GitHub</a></b>.
        .align-center
          .info-box.quarter-space
            span Javascript
          .info-box.quarter-space
            span NodeJS
          .info-box.quarter-space
            span HapiJS
          .info-box.quarter-space
            span AmpersandJS
          .info-box.quarter-space
            span AngularJS
          .info-box.quarter-space
            span RESTful API
          .info-box.quarter-space
            span NoSQL
          .info-box.quarter-space
            span MongoDB
          .info-box.quarter-space
            span HTML5 & CSS
          .info-box.quarter-space
            span Jade
          .info-box.quarter-space
            span Stylus
          .info-box.quarter-space
            span WebSockets
          .info-box.quarter-space
            span Socket.IO
          .info-box.quarter-space
            span npm
          .info-box.quarter-space
            span git
          .info-box.quarter-space
            span GitHub
          .info-box.quarter-space
            span Linux
          .info-box.quarter-space
            span Ink
          .info-box.quarter-space
            span JavaEE
          .info-box.quarter-space
            span Arduino
