.ink-grid.section#music
  .all-100.top-space
    h2.cursor _>$ Musician
  .all-100
    .column-group.ink-grid.half-bottom-space.medium-half-gutters
      .all-60.medium-100.small-100.tiny-100
        p
          | I love music in all its forms and shapes. From alternative, to electronic, to world music, I just love it! I've been playing guitar since I was 16 years old and I 
          | also compose, record and produce (or at least try) my music. I'm self taught in all of these (I know, <i>cliché</i> right?). If your curious about my work 
          | <b><a href='//soundcloud.com/antunes-musica'>check out my SoundCloud</a></b>.
        p
          | As an engineer, I'm also a big fan of DYI so, as soon as I could, I've started to figure out how everything works and have been hacking musical instruments ever since.
          | My current project on this field (besides my dream of building my own guitar) is a tuner built with an Arduino (it's still under development waiting for some free time).
        .align-center
          .info-box.quarter-space
            span Composing
          .info-box.quarter-space
            span Producing
          .info-box.quarter-space
            span Recording
          .info-box.quarter-space
            span Guitar
          .info-box.quarter-space
            span Bass
          .info-box.quarter-space
            span Cubase SX3
          .info-box.quarter-space
            span Music DYI
          .info-box.quarter-space
            span Electronics
          .info-box.quarter-space
            span Sound processing

      .all-40.medium-100.small-100.tiny-100.align-center
        iframe(scrolling='no' frameborder='no' src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/9324940&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false').standard-photo.half-space
        img(src='/static/imgs/music.png').standard-photo.half-top-space.half-bottom-space.push-center
