.ink-grid.section#muzzley
  .all-100.top-space
    h2.cursor _>$ Node.JS engineer @ Muzzley
  .all-100
    .column-group.ink-grid.half-bottom-space.medium-half-gutters
      .all-60.medium-70.small-100.tiny-100
        p
          | I'm a NodeJS engineer @ <a href='//muzzley.com'>Muzzley</a>. Currently I'm responsible for building and maintaining our HTTP REST API that serves all the needed information to our clients.
          | My tasks include everything, from defining the needed databases and lower level models required for the domain logic, to building the actual HTTP services and including other micro services using various
          | protocols such as ZMQ.
        p
          | Previously I've worked in a number of other projects, including improvements to our real time message Core system using MQTT, integrations of other IoT devices in our cloud, frontend development, big data
          | processing using Hadoop and documentation of our systems and infrastructure.
          
        .align-center
          .info-box.quarter-space
            span NodeJS
          .info-box.quarter-space
            span HapiJS
          .info-box.quarter-space
            span NoSQL
          .info-box.quarter-space
            span MongoDB
          .info-box.quarter-space
            span Redis
          .info-box.quarter-space
            span Hadoop
          .info-box.quarter-space
            span ZMQ
          .info-box.quarter-space
            span Micro Services
          .info-box.quarter-space
            span REST 
          .info-box.quarter-space
            span Websockets
          .info-box.quarter-space
            span MQTT
          .info-box.quarter-space
            span React
          .info-box.quarter-space
            span Unix
            
      .all-40.medium-30.small-100.tiny-100.align-center
        img(src='https://media.licdn.com/media/p/8/000/1ef/295/3d37c41.png')#muzzley-logo.half-top-space.half-bottom-space
