.ink-grid.section#presentation
  .all-100.half-bottom-space
    h1.align-center João Antunes
  .all-100
    .column-group.ink-grid.half-bottom-space.medium-half-gutters
      .all-40.medium-30.small-100.tiny-100.align-center
        img(src='/static/imgs/me.jpg').main-photo
      .all-60.medium-70.small-100.tiny-100
        p
          | I'm a Computer Science Bachelor graduate from Lisbon Tech (IST), music lover, free time developer and hacker, who loves to build and learn.
        p
          | Currently I'm a Software Engineer at YLD, coordinator at SINFO (biggest tech event in Portugal) and master's student at Lisbon Tech (IST).
        p
          | I'm always in a good mood (even in sleep deprivation mode), so if you want to talk or just grab a beer (I may even pay if your worth it) feel free to contact me!
          | Or, if you prefer, you may learn more about me wondering around this website which I made with <3 for you.
        a.social-icon.big(target='_blank' href='//github.com/jgantunes')
          i.social-icon.big.fa.fa-github
        a.social-icon.big(target='_blank' href='//twitter.com/jgantunes')
          i.social-icon.big.fa.fa-twitter
        a.social-icon.big(target='_blank' href='//linkedin.com/in/jgantunes')
          i.social-icon.big.fa.fa-linkedin
        a.social-icon.big(target='_blank' href='//soundcloud.com/antunes-musica')
          i.social-icon.big.fa.fa-soundcloud
        .contacts.quarter-left-space.quarter-right-space
          a(href='mailto:info@joaoantunes.me')
            i.social-icon.fa.fa-envelope.quarter-right-space
            | info@joaoantunes.me

  .all-100.top-space
    h2.cursor _>$ About me? 
  .all-100.bottom-space
    .column-group.push-center
      a.main-info.info-box.music.no-opacity.align-center.ink-flex.ink-smooth-scroll(href='#music')
        span Musician
      a.main-info.info-box.muzzley.no-opacity.align-center.ink-flex.ink-smooth-scroll(href='#muzzley')
        span Node.JS Engineer @ Muzzley
      a.main-info.info-box.student.no-opacity.align-center.ink-flex.ink-smooth-scroll(href='#student')
        span CS Student @ IST
    .column-group.push-center
      a.main-info.info-box.dev.no-opacity.align-center.ink-flex.ink-smooth-scroll(href='#dev')
        span Free Time Developer
      a.main-info.info-box.sinfo.no-opacity.align-center.ink-flex.ink-smooth-scroll(href='#sinfo')
        span Coordinator @ SINFO
      a.main-info.info-box.scouts.no-opacity.align-center.ink-flex.ink-smooth-scroll(href='#scouts')
        span Scout @ AEP
