.ink-grid.section#presentation
  .all-100.half-bottom-space
    h1.align-center João Antunes
  .all-100
    .column-group.ink-grid.half-bottom-space.medium-half-gutters
      .all-40.medium-30.small-100.tiny-100.align-center
        img(src='https://s.gravatar.com/avatar/9b162b94138aa629417624741c6a5fd0?s=500').main-photo
      .all-60.medium-70.small-100.tiny-100
        p
          | I'm a Computer Science Bachelor graduate from Lisbon Tech (IST), music lover, free time developer, who loves to build and learn.
        p.
          My interests range from web development, to JS and NodeJS, to DevOps, Kubernetes (I'm a
          <a href='https://www.youracclaim.com/badges/3eec705e-18bb-4f5b-a620-8d0a1883f752'>CKA - Certified Kubernetes Administrator </a>
          ) and P2P.
        p
          | Currently I'm:
        ul
          li.
            Software Engineer at <a href='https://yld.io'>YLD</a>
          li.
            Master's student at <a href='https://tecnico.ulisboa.pt'>Lisbon Tech (IST)</a>, where my master thesis work is 
            <a href='https://github.com/JGAntunes/pulsarcast'>Pulsarcast</a> a scalable and reliable Pub/Sub service over P2P networks.
        p
          | Previously I was:
        ul
          li.
            Coordinator at <a href='https://sinfo.org'>SINFO</a> (biggest tech event in Portugal)
          li
            | Node.JS Developer @ Muzzley
        p
          | I'm always in a good mood (even in sleep deprivation mode), so if you want to talk or just grab a beer (I may even pay if you're worth it) feel free to contact me!
          | Or, if you prefer to know what I've been up to, check the following below.
        a.social-icon.big(target='_blank' href='//github.com/jgantunes')
          i.social-icon.big.fa.fa-github
        a.social-icon.big(target='_blank' href='//twitter.com/jgantunes')
          i.social-icon.big.fa.fa-twitter
        a.social-icon.big(target='_blank' href='//linkedin.com/in/jgantunes')
          i.social-icon.big.fa.fa-linkedin
        a.social-icon.big(target='_blank' href='//soundcloud.com/antunes-musica')
          i.social-icon.big.fa.fa-soundcloud
        .contacts.quarter-left-space.quarter-right-space
          a(href='mailto:info@joaoantunes.me')
            i.social-icon.fa.fa-envelope.quarter-right-space
            | info@joaoantunes.me
