.ink-grid.section#scouts
  .all-100.top-space
    h2.cursor _>$ Scout
  .all-100
    .column-group.ink-grid.half-bottom-space.medium-half-gutters
      .all-60.medium-70.small-100.tiny-100
        p
          | I've been a member of the <a href='//escoteiros.pt'>Portuguese Scout Association (AEP)</a> since 2003 and during this last 12 years I've abeen responsible for various small groups (scout troops) being through the most diversified situations (survival and orienteering challenges, numerous hikes, etc.) where our organization and team work
          | were key parts towards achieving our goals as a group. I've developed skills in the orienteering field, leadership, camp cooking, knots, first aid procedures and (my personal favorite) in the 'feel good' field!
          br
          | I'm a scout chief since 2012 being partially for my scout group (helping managing it) and also for a group of children aged 7-10.
        .align-center
          .info-box.quarter-space
            span Leadership
          .info-box.quarter-space
            span Organization
          .info-box.quarter-space
            span Management
          .info-box.quarter-space
            span Communication
          .info-box.quarter-space
            span Camping
          .info-box.quarter-space
            span Knots
          .info-box.quarter-space
            span Cooking
          .info-box.quarter-space
            span First aid
          .info-box.quarter-space
            span Orienteering
          .info-box.quarter-space
            span Survival

      .all-40.medium-30.small-100.tiny-100.align-center
        img(src='/static/imgs/scouts-pt-logo.png').half-top-space.half-bottom-space
        img(src='/static/imgs/scout.jpg').standard-photo.half-top-space.half-bottom-space
