.ink-grid.section#sinfo
  .all-100.top-space
    h2.cursor _>$ Coordinator & Dev Team @ SINFO
  .all-100
    .column-group.ink-grid.half-bottom-space.medium-half-gutters
      .all-60.medium-70.small-100.tiny-100
        p
          | <a href='//sinfo.org'>SINFO</a> is an annual non profit event organised exclusively by college students in the fields of Information Technology and Computer Science, one of the biggest of its kink in Europe and the biggest in Portugal. I'm part of the team that organized the <a href='//app.sinfo.org'>22nd SINFO</a>
          | being currently working on the 23rd. 
          br
          br
          | I started on the Development Team, responsible for developing and maintaining our web site, web apps as well as any software/hardware related projects needed to support the event (for more info on these please see my <a href='#dev' class='ink-smooth-scroll'>developer info</a>).
          br
          br
          | Currently, I'm Coodinator and integrate the team of 7 people entirely reponsible for the whole organization, including managing, teams, budgets, contacts, etc.
          | I still keep a close contact with the development team, working on software needs for the events as well as assuring the whole infrastructure needed for it runs accordingly (servers,  web applications, etc.)
          br
          br
          | Besides all this, every member as the privilege to directly contact the speakers which he would like to see in the event (big international figures that some how made a mark in the tech world) as well as the companies that we need to support us.
          | Giving us this way a big boost on our communication skills.
        .align-center
          .info-box.quarter-space
            span Negotiation
          .info-box.quarter-space
            span Organization
          .info-box.quarter-space
            span Management
          .info-box.quarter-space
            span Event organization
          .info-box.quarter-space
            span Communication
          .info-box.quarter-space
            span Programming

      .all-40.medium-30.small-100.tiny-100.align-center
        img(src='/static/imgs/sinfo-logo-normal.png').half-top-space.half-bottom-space
        img(src='/static/imgs/sinfo22.jpg').standard-photo.half-top-space.half-bottom-space
