.ink-grid.section#student
  .all-100.top-space
    h2.cursor _>$ CS Student @ IST
  .all-100
    .column-group.ink-grid.half-bottom-space.medium-half-gutters
      .all-60.medium-70.small-100.tiny-100
        p
          | I'm a Computer Science Bachelor (<i>Engenharia Informática e Computadores</i>) from <a href='//ist.utl.pt'>Técnico Lisboa</a>. I'm currently enrolled in a master's program at IST also, working and
          | studing at the same time.
        p
          | Some of the projects I've developed to my classes include a 3D Arkanoid game using OpenGL and C++, a distributed file server system using Java and TCP/UDP sockets, a fill-a-pix puzzle solver in CLisp,
          | a series of C graph searching algorithms, a highly concurrent content server in C using POSIX mutexes and semaphores and many, many other projects.
        p
          | I've hosted a lot of this <b><a href='//github.com/JGAntunes'>projects on GitHub</a></b>. So check them out.
        .align-center
          .info-box.quarter-space
            span Python
          .info-box.quarter-space
            span C
          .info-box.quarter-space
            span C++
          .info-box.quarter-space
            span Java
          .info-box.quarter-space
            span SQL
          .info-box.quarter-space
            span Algorithms & algorithm analysis
          .info-box.quarter-space
            span Computer Networks
          .info-box.quarter-space
            span AI
          .info-box.quarter-space
            span OOP
          .info-box.quarter-space
            span Operating Systems
          .info-box.quarter-space
            span Agile & scrum methodologies

      .all-40.medium-30.small-100.tiny-100.align-center
        img(src='/static/imgs/student.png').half-top-space.half-bottom-space
        img(src='/static/imgs/arkanoid.jpg').standard-photo.half-top-space.half-bottom-space
