.ink-grid.section#yld
  .all-100.top-space
    h2.cursor _>$ Software Engineer @ YLD
  .all-100
    .column-group.ink-grid.half-bottom-space.medium-half-gutters
      .all-60.medium-70.small-100.tiny-100
        p
          | Currently I'm a Software Engineer @ <a href='//yld.io'>YLD</a>, helping our clients
          | to build awesome projects while cultivating good software practices.
            
      .all-40.medium-30.small-100.tiny-100.align-center
        img(src='https://www.yld.io/images/svgs/yld_logo.svg')#yld-logo.half-top-space.half-bottom-space
